<section class-"section-class">
  <h3 id='form'>lets make something awesome together</h3>

  <form method="POST" action="http://formspree.io/j{{ site.data.settings.email }}">
    <div class="contact-info-group">

      <label><span>Your Name</span>
      <input type="text" name="Name" placeholder="Your name"></label>

      <label><span>Your E-mail</span>
      <input type="email" name="_replyto" placeholder="Your email"></label>
    </div>

    <label><span>Tell me about your project</span>
    <textarea name="message" placeholder="Tell me about your project"></textarea></label>
    <div class="submit-wrap">
      <button type="submit">Send</button>
    </div>
  </form>

</section>
